extends layout

block content
  .example
    h3 Dropdown List
    select#dropdown
      option(value='' disabled='disabled' selected='selected') Please select an option
      option(value='1') Option 1
      option(value='2') Option 2
