ul
  li
    a(href='/abtest') A/B Testing
  li
    a(href='/basic_auth') Basic Auth
    |  (user and pass: admin)
  li
    a(href='/broken_images') Broken Images
  li
    a(href='/challenging_dom') Challenging DOM
  li
    a(href='/checkboxes') Checkboxes
  li
    a(href='/context_menu') Context Menu
  li
    a(href='/disappearing_elements') Disappearing Elements
  li
    a(href='/drag_and_drop') Drag and Drop
  li
    a(href='/dropdown') Dropdown
  li
    a(href='/dynamic_content') Dynamic Content
  li
    a(href='/dynamic_controls') Dynamic Controls
  li
    a(href='/dynamic_loading') Dynamic Loading
  li
    a(href='/exit_intent') Exit Intent
  li
    a(href='/download') File Download
  li
    a(href='/upload') File Upload
  li
    a(href='/floating_menu') Floating Menu
  li
    a(href='/forgot_password') Forgot Password
  li
    a(href='/login') Form Authentication
  li
    a(href='/frames') Frames
  li
    a(href='/geolocation') Geolocation
  li
    a(href='/horizontal_slider') Horizontal Slider
  li
    a(href='/hovers') Hovers
  li
    a(href='/infinite_scroll') Infinite Scroll
  li
    a(href='/jqueryui/menu') JQuery UI Menus
  li
    a(href='/javascript_alerts') JavaScript Alerts
  li
    a(href='/javascript_error') JavaScript onload event error
  li
    a(href='/key_presses') Key Presses
  li
    a(href='/large') Large &amp; Deep DOM
  li
    a(href='/windows') Multiple Windows
  li
    a(href='/nested_frames') Nested Frames
  li
    a(href='/notification_message') Notification Messages
  li
    a(href='/redirector') Redirect Link
  li
    a(href='/download_secure') Secure File Download
  li
    a(href='/shifting_content') Shifting Content
  li
    a(href='/slow') Slow Resources
  li
    a(href='/simple_form') Simple Form  
  li
    a(href='/tables') Sortable Data Tables
  li
    a(href='/status_codes') Status Codes
  li
    a(href='/typos') Typos
  li
    a(href='/tinymce') WYSIWYG Editor
