extends layout

block content
  style.
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
  h1.heading Welcome to the-internet-express
  h2 Available Examples
  h6
    i (Note: Not all of the below are ported)
  include examples.pug