head
  // CDN hosted by Cachefly
  script(src='//tinymce.cachefly.net/4.0/tinymce.min.js')
  script.
    tinymce.init({selector:'textarea'});
.example
  h3 An iFrame containing the TinyMCE WYSIWYG Editor
  textarea Your content goes here.
